/.idea/
#/doc/
#
# Project specific excludes
#
# compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

chrome-profiler-events*.json
.c9/
*.launch
.settings/
*.sublime-workspace

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr

# eclipse project file
.classpath
.project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# dependencies
/node_modules


# OS
.DS_Store
.factorypath

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
/bin/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
Thumbs.db
