<div>
  <h2>{{client.name +' '+ client.lastname}}</h2>
  <div class="flex-column mt-5" >
    <button routerLink="appointments" pButton type="button" label="Voir les RDV" class="p-button-outlined mx-5"></button>
    <button routerLink="professionals" pButton type="button" label="Voir les Professionnels" class="p-button-outlined p-button-danger mx-5"></button>
    <button routerLink="settings" pButton type="button" label="settings" class="p-button-outlined p-button-secondary mx-5"></button>
  </div>
</div>

