<div>
  <div class="grid mx-8 my-8">
    <div class="col p-fluid mx-5 mt-2 content-container" routerLink="appointments" style="background-color:indigo; ">
      <div class="content">
        <p class="menuTitle">
          Voir les RDV
        </p>
      </div>
    </div>
    <div class="col p-fluid mx-5 mt-2 content-container" routerLink="professionals"
         style="background-color:indianred;">
      <div class="content">
        <p class="menuTitle">
          Voir les Professionnels
        </p>
      </div>
    </div>
    <div class="col p-fluid mx-5 mt-2 content-container" routerLink="settings"
         style="background-color:darkkhaki;">
      <div class="content">
        <p class="menuTitle">
          Modifier profil
        </p>
      </div>
    </div>
  </div>
</div>
