<div [ngClass]="{
    'list-group-item' : true
}" class="my-1 p-1" style="background-color: darkolivegreen;  margin-bottom: 2em ; min-height: 8em;"

>
  <!--  <div class="">-->
  <!--    <img src="https://www.w3schools.com/howto/img_avatar.png" class="" style="margin-bottom: 5px;height: 10em ; width: 10em">-->
  <!--  </div>-->
  <div>
    <h4>{{begin |date}}</h4>
    <h4>{{end |date}}</h4>
  </div>
  <button routerLink={{id}} pButton type="button" label="Voir" class=" p-button-success mx-2"></button>
</div>
