.body2{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 58, 100, 0.85);
  color: #fff;
}

.usernameTopbar{
  color: #000000;
  font-size: 1.5rem;
  text-align: center;
}

