<H3>Prof-settings </H3>

<div class="mx-5">
  <div class="p-inputgroup my-3">
    <span class="p-inputgroup-addon col-12 md:col-3"><i>Nom</i></span>
    <input type="text" pInputText [(ngModel)]="prof.name">
  </div>
  <div class="p-inputgroup my-3">
    <span class="p-inputgroup-addon col-12 md:col-3"><i>Prenom</i></span>
    <input type="text" pInputText [(ngModel)]="prof.lastname">
  </div>
  <div class="p-inputgroup my-3">
    <span class="p-inputgroup-addon col-12 md:col-3"><i>Email</i></span>
    <input type="text" pInputText [(ngModel)]="prof.email">
  </div>

  <div class="pi-align-right mt-5">
    <button routerLink="../" pButton type="button" label="Annuler" class=" p-button-warning mx-2" ></button>
    <button pButton type="button" label="Modiffier" class=" p-button-success mx-2"></button>
    <button pButton type="button" label="delete acount" class=" p-button-danger mx-2"></button>
  </div>
</div>
