.content-container2{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
  background-color: rgba(245, 245, 245, 0.9);
  border: 0.02rem rgba(54, 53, 53, 0.45) solid;
  border-radius:10% ;
}
