.siteTitle{
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  font-family: Gurajada;
}

.content{
  position: relative;
  display: block;
  margin: auto;
  width: auto;
  height: auto;

}

.content-container{
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  cursor: pointer;
}
