<div>
  <div class="grid mx-8 my-5">
    <div class="col p-fluid mx-5 mt-2 content-container" routerLink="profApp" style="background-color:chocolate; ">
      <div class="content">
        <p class="siteTitle">
          Site des professionnels
        </p>
      </div>
    </div>
    <div class="col p-fluid mx-5 mt-2 content-container" routerLink="clientApp" style="background-color:cornflowerblue;">
      <div class="content" >
        <p class="siteTitle">
          Site des Clients
        </p>
      </div>
    </div>
  </div>
</div>
