<div>
  <div class="p-grid">
    <div class="p-col">
      <button routerLink="profApp" pButton type="button" label="Site des professionnels"
              style="font-size: 1.5rem;" icon="pi pi-user-edit" value="Prof"
              class=" p-button-danger "></button>
    </div>
    <div class="p-col">
      <button routerLink="clientApp" pButton type="button" label="Site des clients" value="Clienr"
              style="font-size: 1.5rem"
              icon="pi pi-users" class=" p-button-success"></button>
    </div>
  </div>
</div>
